<% content_for :title, "Games" %>

<div class="games-page">
  <div class="games-page__inner">
    <div id="games" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gx-3 games-grid">
      <%= render @games %>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>
